<h1>Welcome to Guessing Game</h1>

<h3>Guess a number between 1 to 99</h3>
<form action="result">
    <label for="num">Enter the number : </label>
    <input type="number" id="num" name="num"><br><br>
    <input type="submit" value="Confirm">
</form>

{{ result }}